VITE_SUPABASE_URL=https://fbszhurxhecdaheyyymu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZic3podXJ4aGVjZGFoZXl5eW11Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2MTI2MDUsImV4cCI6MjA5NDE4ODYwNX0.3dNZuTqXnJCK0sx71SwQOhKx5uB1IeBomDT0--ch0K4
